{% extends 'base.html' %}

{% block title %}
 About Page
{% endblock %}

{% block content %}
<body class="about-body">
    <div class="about-content">
        <h1 class="about-title">MEET THE TEAM</h1>
        <h3 class="about-title-1">We are a Blended Team with a Sole purpose to serve you Diligently</h3>
        <div class="about-team">
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Joshua Kagwe</h5>
                  <p class="card-text">C.E.O and Founder<br>Island Management</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Catherine Wahinya</h5>
                  <p class="card-text">C.O.O and Founder<br>Island Management</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Janet Muiru</h5>
                  <p class="card-text">Manager and Tech Lead<br>Island Management</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Regina Ngendo</h5>
                  <p class="card-text">Worker<br>Mwireri Shop</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Teresiah Kirubi</h5>
                  <p class="card-text">Worker<br>Chairman Shop</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Damaris Doe</h5>
                  <p class="card-text">Worker<br>Mnazi Shop</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brenda Jeruto</h5>
                  <p class="card-text">Worker<br>Eastmatt Shop</p>
                  
                </div>
            </div>
            <div class="card" style="width: 14rem; height: 20rem;">
                <img src="/static/images/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lucy Doe</h5>
                  <p class="card-text">Float Refill and<br> Shop reliever</p>
                  
                </div>
            </div>
        </div>
        <h1 class="about-title-2">Our Shops</h1>
        <h3 class="about-title-3">Where all the Magic Happens</h3>
        <div class="about-shops">
            <div class="shops">
                <img src="/static/images/mwireri.jpg" alt="shops">
                <p class="shop-desc">Mwireri Shop</p>
            </div>
            <div class="shops">
                <img src="/static/images/chairman (1).jpg" alt="shops">
                <p class="shop-desc">Chairman Shop</p>
            </div>
            <div class="shops">
                <img src="/static/images/mnazi.jpg" alt="shops">
                <p class="shop-desc">Mnazi Shop</p>
            </div>
            <div class="shops">
                <img src="/static/images/eastmatt.jpg" alt="shops">
                <p class="shop-desc">Eastmatt Shop</p>
            </div>


        </div>
    </div>
</body>
{% endblock %}