{% extends 'base.html' %}

{% block title %}
 FAQs Page
{% endblock %}

{% block content %}
<body>
    <div class="FAQ-content">
        <div class="question">
            <ol>
                <li>
                    <a href="#qst-1"  class="text-info">What are the requirements of been an Authorized M-PESA Agent?</a>
                </li>
                <li>
                    <a href="#qst-2" class="text-info">How much can an Authorized M-PESA Agent make in a month?</a>
                </li>
                <li>
                    <a href="#qst-3" class="text-info">What is the difference between differences Between Aggregated & Non-Aggregated Mpesa Line?</a>
                </li>
            </ol>

        </div>
        <div class="answers">
            <div class="numbering">
                <div class="card-FAQ">
                    <h5>1. What are the requirements of been an Authorized M-PESA Agent?</h5>
                    <div class="card-body-FAQ" id="qst-1">
                        <p>A) STANDARD REQUIREMENTS<br>  
                            MINIMUM NUMBER OF AGENT OUTLETS<br>
                            • Prospective agent must be registered as a LIMITED company or equivalent with at least 3 outlets ready to
                            offer M‐PESA under the company names. The company MUST have traded for a minimum period of 6
                            months.
                            • Proposed outlets shall be audited prior to commencement of business.<br>  
                            • Only applications for outlets in opportunity areas will be considered.<br>  
                            i) MINIMUM M‐PESA CASH INVESTMENT<br>
                            An agent will expected to invest the following amounts:<br>
                            (a) Kshs 100,000 per outlet for float.<br>
                            (b) Kshs 100,000 for SIMEX (SIM replacement cards).<br>
                            (c) Kshs 100,000 per outlet for additional outlets for float.<br>
                            Successful agents will be required to deposit this money within one month of signing the contract, failure
                            to which the contract shall be revoked.
                            ii) STAFF<br>
                            The agent should preferably employ competent staff with minimum of KCSE to handle the service.<br>
                            iii) TECHNICAL REQUIREMENTS<br>
                            The agent head office must have the following equipment to ensure that operations are conducted in a
                            professional manner:<br>
                            a) 1 Computer and ancillary equipment approved by Safaricom. At least 512 MB with Windows 2000.<br>
                            b) At least 2 people to handle head office operations on a day to day basis (may not be on a full time basis).<br>
                            c) Internet connectivity with connection speeds acceptable to Safaricom.<br>
                            d) 1 printer for printing downloaded reports.<br>
                            e) Any other items/equipment necessary to conduct the business like desks chairs, stationery, pens and a
                            pay point.<br>
                            f) A telephone line either landline or mobile for contact.<br>
                            g) An official E‐mail contact.<br>
                            h) An ETR Machine.<br>
                            iv) PREMISES AND THEIR MAINTAINANCE<br>
                            An M‐PESA agent must conform to Safaricom branding and merchandising standards. The minimum
                            branding requirements will be supplied to you on commencement of business.<br>
                        </p>
                    </div>
                    <div class="card-FAQ">
                        <h5>2. How much can an Authorized M-PESA Agent make in a month?</h5>
                        <div class="card-body-FAQ" id="qst-2">
                            <p>A small Mpesa agent can make Ksh. 10,000 or more in a month<br>depending on the number of transactions performed (both deposits and withdrawals).</p>
                        </div>
                      </div>
                   </div>
                   <div class="card-FAQ">
                       <h5>3. What is the difference between differences Between Aggregated & Non-Aggregated Mpesa Line?</h5>
                    <div class="card-body-FAQ" id="qst-3">
                         <p>Aggregated Mpesa line's Commission is direct from Safaricom to your line and then you can withdraw from the bank<br>
                        while that of non-aggregated mpesa line is the commission paid by Mpesa is sent to your super-agent who will pay you at the end of the month.</p>
                      
                    </div>
                  </div>
            </div>


        </div>

    </div>
</body>
{% endblock %}