{% extends 'base.html' %}

{% block title %}
 Services Page
{% endblock %}

{% block content %}
<body class="service-body">
    <div class="services-content">
        <div class="upper-part">
            <h1 class="services-title">Our Services</h1>
            <ul class="services-list">
                <li class="ser-li">
                    <a href="#" class="ser-a">MPESA Services</a>
                </li>
                <li class="ser-li">
                    <a href="#enquire" class="ser-a">MPESA Agent Lines</a>
                </li>
                <li class="ser-li">
                    <a href="#" class="ser-a">Banking Services</a>
                </li>
                <li class="ser-li">
                    <a href="#"  class="ser-a">Register and Replace Lines</a>
                </li>
                <li class="ser-li">
                    <a href="#" class="ser-a">Phones</a>
                </li>
                <li class="ser-li">
                    <a href="#" class="ser-a">Accessories</a>
                </li>
            </ul>
        </div>
        <div class="Carolose">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/static/images/jonathan-cooper-0O2Pp6-mOkY-unsplash.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="capt-serv">Banking Services</h5>
                      <p class="capt-serv-p">Get services of your personal banking partner.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/static/images/black phone.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="capt-serv">Mobile Phones</h5>
                      <p class="capt-serv-p">Get the latest phones from Us.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/andres-urena-qSw5XKtUyus-unsplash.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="capt-serv">Phone Accessories</h5>
                      <p class="capt-serv-p">Get any phone accessories</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="major">
            <h2 class="enquire-title"> APPLY MPESA AGENT LINE</h2>  
        <div class="enquire" id="enquire">
            <div class="requirements">
             <h2 class="enquire-title">REQUIREMENTS</h2>
             <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Should have Original ID and Updated Certificate of Good Conduct.
             </span>
             <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Should plan to operate with a minimal of KSH 50000/= as float.
             </span>
             <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Should have a well branded shop with the required Safaricom colors.
             </span>
             <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Should be located in a busy location.
             </span>
             <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Should make a decent comission otherwise line will be revoked.
             </span>
            </div>
            <div class="for-enquire">
                <h2 class="enquire-title">ENQUIRE</h2>
                <form method="POST" class="form-it-enquire">
                  {{ form.hidden_tag() }}
                    <div class="mb-3">
                      {{ form.name.label() }}
                        {{ form.name(class="form-control") }}

                        {{ form.email_address.label() }}
                        {{ form.email_address(class="form-control") }}

                        {{ form.phone_number.label() }}
                        {{ form.phone_number(class="form-control") }}

                        {{ form.county.label() }}
                        {{ form.county(class="form-control") }}

                        {{ form.town.label() }}
                        {{ form.town(class="form-control") }}

                        {{ form.enquiry.label() }}
                        {{ form.enquiry(class="form-control", placeholder="enquire here...", id="com-sec") }}
                      
                    </div>
                        {{ form.submit(class="btn btn-success") }}
                    
                </form>    
            </div> 

        </div>
        </div>
    </div>
    <div class="footer">
            
   
           
        <footer>
            <hr style="color:blanchedalmond">

        </footer>

    </div>


</body>

{% endblock %}